
* {
    margin: 0;
    padding: 0;
}

button {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
  user-select: none;
}

body {
    font-family: sans-serif;
}

/* Errors */

.error-parent {
    position: absolute;
    top: 0.25em;
    left: 50%;
    transform: translateX(-50%);
    max-width: 40em;
    width: 90%;
}

.error-list {
    list-style-type: none;
    display: flex;
    flex-direction: column-reverse;
}

.error-entry {
    display: flex;
    align-items: center;
    background-color: salmon;
    padding: 0.5em;
    margin: 0.25em 0;
    border-radius: 0.25em;
    transition: all 0.15s ease-out;
    overflow: hidden;
    max-height: 5em;
}

.error-entry.error-closed {
    max-height: 0;
    padding: 0 0.5em;
    margin: 0;
}

.error-message {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.error-button {
    margin-left: 0.5em;
    display: block;
    width: 1.75em;
    height: 1.75em;
}

.error-cause {
    font-weight: bold;
}

#main-parent {
    overflow: hidden;
}

.viewer-parent {
    overflow: hidden;
    width: 100%;
    height: 100%;
    touch-action: none;
}

.bottom-bar {
    --height: 4rem;
    padding-bottom: 2rem;

    position: fixed;
    top: calc(100vh - var(--height));
    height: var(--height);
    width: 100%;
    color: #fff;
    background-color: rgba(20, 20, 20, 0.9);
    z-index: 1;
    opacity: 100%;
    transition:
        opacity 0.08s ease-out,
        transform 0.08s ease-out;
}

.cull {
    display: none !important;
}

.hide {
    pointer-events: none;
    touch-action: none;
}

.bottom-bar.hide {
    transform: translate(0, var(--height));
    opacity: 0%;
}

.bottom-bar-content {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.temp-canvas {
    display: block;
    width: 100%;
    height: 100%;
    touch-action: none;
}

.chapter-list-button {
    position: relative;
}

.chapter-list-button button {
    color: #fff;
}

.chapter-list {
    position: absolute;
    bottom: 2rem;
    width: max-content;
    background-color: rgba(20, 20, 20, 0.9);
    padding: 1rem;
    opacity: 100%;
    transition:
        opacity 0.08s ease-out,
        transform 0.08s ease-out;
}

.chapter-list.hide {
    opacity: 0%;
    transform: translate(0, 2rem);
}

.chapter-list-chapter {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chapter-list-fill {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}
