
:root {
    --hint-margin: 8px;
}

* {
    margin: 0;
    padding: 0;
}

button {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
  user-select: none;
}

body {
    font-family: sans-serif;
    overflow: hidden;
}

.app-root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-main {
    flex-grow: 1;
    overflow-y: scroll;
}

.top-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}

/* Errors */

.error-parent {
    position: absolute;
    top: 0.25em;
    left: 50%;
    transform: translateX(-50%);
    max-width: 40em;
    width: 90%;
}

.error-list {
    list-style-type: none;
    display: flex;
    flex-direction: column-reverse;
}

.error-entry {
    display: flex;
    align-items: center;
    background-color: salmon;
    padding: 0.5em;
    margin: 0.25em 0;
    border-radius: 0.25em;
    transition: all 0.15s ease-out;
    overflow: hidden;
    max-height: 5em;
}

.error-entry.error-closed {
    max-height: 0;
    padding: 0 0.5em;
    margin: 0;
}

.error-message {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.error-button {
    margin-left: 0.5em;
    display: block;
    width: 1.75em;
    height: 1.75em;
}

.error-cause {
    font-weight: bold;
}

#main-parent {
    overflow: hidden;
}

.viewer-parent {
    overflow: hidden;
    width: 100%;
    height: 100%;
    touch-action: none;
}

.bottom-bar {
    --height: 4rem;
    padding-bottom: 2rem;

    position: fixed;
    top: calc(100vh - var(--height));
    height: var(--height);
    width: 100%;
    color: #fff;
    background-color: rgba(20, 20, 20, 1.0);
    z-index: 1;
    opacity: 100%;
    transition:
        opacity 0.15s ease-out,
        transform 0.15s ease-out;
}

.cull {
    display: none !important;
}

.hide {
    pointer-events: none;
    touch-action: none;
}

.bottom-bar.hide {
    transform: translate(0, var(--height));
    opacity: 0%;
}

.bottom-bar-content {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.temp-canvas {
    display: block;
    width: 100%;
    height: 100%;
    touch-action: none;
}

.chapter-list-button {
    position: relative;
}

.chapter-list-button button {
    color: #fff;
}

.bottom-bar-button-parent {
    flex-shrink: 0;
    user-select: none;
}

.bottom-bar-button {
    height: 100%;
    text-decoration: none;
    cursor: default;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*

.bottom-bar-button-label {
    display: block;
    color: #ddd;
    background-color: #333;
    padding: 10px;
    border-radius: 3px;
}
*/

/*
.bottom-bar-button:hover .bottom-bar-button-label {
    background-color: #3e3e3e;
}

.bottom-bar-button:active .bottom-bar-button-label {
    background-color: #303030;
    color: #aaa;
}
*/

.icon-tabler {
    stroke-width: 1.75;
}

.bottom-bar-button-label {
    font-size: 12px;
    color: #ccc;
}

.page-button {
    flex-shrink: 0;
}

.page-button button {
    color: #fff;
    font-weight: bold;
}

.bottom-bar-space {
    flex-shrink: 1;
    flex-basis: 2rem;
}

.bottom-bar-edge {
    flex-grow: 1;
}

.bottom-bar-page {
    user-select: none;
    flex-shrink: 0;
    margin-left: 16px;
    margin-right: 16px;
}

.chapter-list {
    position: absolute;
    bottom: 3rem;
    right: -2rem;
    width: max-content;
    background-color: rgba(20, 20, 20, 1.0);
    padding: 1rem;
    opacity: 100%;
    transition:
        opacity 0.15s ease-out,
        transform 0.15s ease-out;
}

.chapter-list.hide {
    opacity: 0%;
    transform: translate(0, 2rem);
}

.chapter-list-chapter {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chapter-list-fill {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}

/* -- overlay -- */

.overlay-root {
    position: absolute;
    /* transition: all 0.1s linear; */
    display: none;
    background-color: rgb(255, 251, 244);
    border-radius: 8px;
    box-shadow:
        0px 8px 20px rgba(0, 0, 0, 0.2),
        0px 0px 0px 1px rgba(0, 0, 0, 0.15);
    z-index: 2;
    overflow-x: hidden;
    overflow-y: auto;
}

.overlay-top {
    width: 100%;
    height: 100%;
}

.overlay-top-scroll {
    width: 100%;
    height: 100%;
    /*overflow-y: scroll;
    overflow-x: hidden;*/
}

.radical-list {
    padding-bottom: 0.2em;
    margin-bottom: var(--hint-margin);
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.radical {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 0.4em;
}

.radical-image {
    width: 1.5em;
    opacity: 0.7;
}

.radical-text {
    font-size: 0.6em;
    opacity: 0.7;
}

.hint-container {
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 8px;
}

.hint-container:first-child {
    padding-top: 20px;
}

.hint-container:last-child {
    padding-bottom: 20px;
}

.hint-content {
    margin-left: 16px;
    margin-right: 16px;
}

.hint-selected {
    background-color: rgb(241, 231, 213);
}

.hint-text-container {
    margin-top: 0.25em;
    margin-bottom: var(--hint-margin);
}

.hint-title {
    font-size: 1.5em;
    margin-bottom: var(--hint-margin);
}

.hint-gloss {
    color: #333;
    list-style-type: none;
    margin-bottom: var(--hint-margin);
}

.hint-gloss li {
    font-size: 16px;
    display: flex;
    align-items: baseline;
}

.hint-gloss span {
    display: inline-block;
    flex-shrink: 1;
}

.gloss-more {
    color: #777;
    font-size: 0.9em;
}

.hint-gloss li::before {
    content: "";
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16' height='16' version='1.1' viewBox='0 0 4.233 4.233' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23808080' stroke-width='.2646'%3E%3Cpath d='m2.183 0.8178h0.1571l1.067 1.301-1.067 1.295h-0.1571l0.6725-1.295zm-1.246 0h0.1599l1.086 1.301-1.086 1.295h-0.1599l0.6697-1.295z'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: 10px 10px;
    height: 10px;
    width: 10px;
    display: block;
    padding-right: 4px;
    flex-shrink: 0;
}

.hint-write-read {
    display: flex;
    align-items: baseline;
}

.hint-conjugation {
    color: #777;
    font-style: italic;
    font-size: 0.9em;
}

.hint-label {
    color: #777;
    font-size: 0.9em;
    min-width: 4.5em;
    display: inline-block;
}

.hint-text {
    color: #333;
}

.wk-container {
    margin-bottom: var(--hint-margin);
}

.wk-span {
    font-size: 0.9em;
    color: #333;
    padding: 0.1em 0.1em;
    margin: -0.1em -0.08em;
}

.wk-tag-radical {
    background-color: rgb(192, 205, 223);
    border-radius: 10%;
}

.wk-tag-kanji {
    background-color: rgb(226, 185, 161);
    border-radius: 10%;
}

.wk-tag-vocabulary {
    background-color: rgb(236, 209, 226);
    border-radius: 10%;
}

.wk-tag-meaning {
    background-color: rgb(171, 221, 179);
    border-radius: 10%;
}

.wk-tag-reading {
    background-color: rgb(219, 226, 161);
    border-radius: 10%;
}

.translation-container {
    padding: 16px;
}

.translation-label {
    color: #777;
    user-select: none;
}

.translation-text {
    font-size: 20px;
    padding: 16px;
    color: #333;
}

.page-list {
    display: flex;
    flex-wrap: wrap;
}

.reader-loading {
    visibility: hidden;
}
