
:root {
    --hint-margin: 8px;
    --app-height: 100%;
    --color-act: rgb(199, 107, 21);
    --color-act-hi: rgb(224, 167, 113);
    --color-act-bg: rgb(248, 240, 231);
    --color-act-bg-hi: rgb(238, 230, 218);
    --color-act-border: rgb(241, 230, 220);
    --color-danger: rgb(202, 16, 16);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol {
    list-style: none;
}

button {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
}

body {
    font-family: sans-serif;
    overflow: hidden;
}

.app-root {
    display: flex;
    flex-direction: column;
    height: var(--app-height);
}

.app-main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.auth-form-parent {
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

.mobile .auth-form-parent {
    max-width: unset;
}

.auth-form.auth-form {
    --label-width: 9rem;
}

.auth-link {
    margin-top: 2rem;
}

.mobile .auth-form {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 100%;
}

.top-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--app-height);
    display: none;
}

.main-nav {
    display: flex;
    background-color: #222;
    flex-shrink: 0;
}

.main-nav-mobile {
    justify-content: space-around;
}

.nav-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #bbb;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 8px;
    user-select: none;
    -webkit-user-select: none;
}

.nav-button.nav-button-mobile {
    flex-direction: column;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: 0;
    margin-right: 0;
}

.nav-button-selected {
    color: #eee;
    background-color: #404040;
}

.nav-button .icon {
    stroke-width: 1.5;
}

.nav-button.nav-button-selected .icon {
    stroke-width: 2.25;
}

.nav-label {
    color: #888;
    margin-left: 8px;
    font-size: 15px;
}

.nav-button-mobile .nav-label {
    font-size: 12px;
    margin-left: 0;
}

.nav-button-selected .nav-label {
    color: #eee;
}

/* Errors */

.error-parent {
    position: fixed;
    top: 0.25em;
    left: 50%;
    transform: translateX(-50%);
    max-width: 40em;
    width: 90%;
    z-index: 5;
}

.error-list {
    list-style-type: none;
    display: flex;
    flex-direction: column-reverse;
}

.error-entry {
    display: flex;
    align-items: center;
    background-color: salmon;
    padding: 0.5em;
    margin: 0.25em 0;
    border-radius: 0.25em;
    transition: all 0.15s ease-out;
    overflow: hidden;
    max-height: 5em;
}

.error-entry.error-closed {
    max-height: 0;
    padding: 0 0.5em;
    margin: 0;
}

.error-message {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.error-button {
    margin-left: 0.5em;
    display: block;
    width: 1.75em;
    height: 1.75em;
}

.error-cause {
    font-weight: bold;
}

/* Modals */

.modal-parent {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 4;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.2s ease;
}

.modal-open {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
}

.modal-highlight {
    position: fixed;
    background-color: rgba(255,255,255,0.25);
    border-radius: 8px;
}

.modal {
    position: fixed;
    background-color: white;
    width: max-content;
    overflow: hidden;
    border-radius: 8px;
    transition:
        opacity 0.25s cubic-bezier(.23,1.39,.68,1.02),
        transform 0.25s cubic-bezier(.23,1.39,.68,1.02);
}

.modal-option {
    padding: 0.5rem 1rem;
    user-select: none;
    -webkit-user-select: none;
    display: flex;
    align-items: center;
    background-color: white;
}

.modal-option .icon {
    margin-right: 0.2rem;
}

.modal-option:hover {
    background-color: #eee;
}

#main-parent {
    overflow: hidden;
}

.viewer-parent {
    overflow: hidden;
    width: 100%;
    height: 100%;
    touch-action: none;
}

.bottom-bar {
    --height: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    position: fixed;
    top: calc(100vh - var(--height));
    height: var(--height);
    width: 100%;
    color: #fff;
    background-color: rgba(20, 20, 20, 1.0);
    z-index: 1;
    opacity: 100%;
    transition:
        opacity 0.15s ease-out,
        transform 0.15s ease-out;
}

.cull {
    display: none !important;
}

.hide {
    pointer-events: none;
    touch-action: none;
}

.bottom-bar.hide {
    transform: translate(0, var(--height));
    opacity: 0%;
}

.bottom-bar-content {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.temp-canvas {
    display: block;
    width: 100%;
    height: 100%;
    touch-action: none;
}

.chapter-list-button {
    position: relative;
}

.chapter-list-button button {
    color: #fff;
}

.bottom-bar-button-parent {
    flex-shrink: 0;
    user-select: none;
    -webkit-user-select: none;
}

.bottom-bar-button {
    height: 100%;
    text-decoration: none;
    cursor: default;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottom-bar-button:disabled {
    color: #888;
}

/*

.bottom-bar-button-label {
    display: block;
    color: #ddd;
    background-color: #333;
    padding: 10px;
    border-radius: 3px;
}
*/

/*
.bottom-bar-button:hover .bottom-bar-button-label {
    background-color: #3e3e3e;
}

.bottom-bar-button:active .bottom-bar-button-label {
    background-color: #303030;
    color: #aaa;
}
*/

.icon-tabler {
    stroke-width: 1.75;
}

.bottom-bar-button-label {
    font-size: 12px;
    color: #ccc;
}

.page-button {
    flex-shrink: 0;
}

.page-button button {
    color: #fff;
    font-weight: bold;
}

.bottom-bar-space {
    flex-shrink: 1;
    flex-basis: 2rem;
}

.bottom-bar-edge {
    flex-grow: 1;
}

.bottom-bar-page {
    user-select: none;
    -webkit-user-select: none;
    flex-shrink: 0;
    margin-left: 16px;
    margin-right: 16px;
}

.chapter-list {
    position: fixed;
    bottom: 3rem;
    right: -2rem;
    width: max-content;
    background-color: rgba(20, 20, 20, 1.0);
    padding: 1rem;
    opacity: 100%;
    transition:
        opacity 0.15s ease-out,
        transform 0.15s ease-out;
}

.chapter-list.hide {
    opacity: 0%;
    transform: translate(0, 2rem);
}

.chapter-list-chapter {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chapter-list-fill {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}

/* -- overlay -- */

.overlay-root {
    position: fixed;
    /* transition: all 0.1s linear; */
    display: none;
    background-color: rgb(255, 251, 244);
    border-radius: 8px;
    box-shadow:
        0px 8px 20px rgba(0, 0, 0, 0.2),
        0px 0px 0px 1px rgba(0, 0, 0, 0.15);
    z-index: 2;
    overflow-x: hidden;
    overflow-y: auto;
}

.overlay-top {
    width: 100%;
    height: 100%;
}

.overlay-top-scroll {
    width: 100%;
    height: 100%;
    /*overflow-y: scroll;
    overflow-x: hidden;*/
}

.radical-list {
    padding-bottom: 0.2em;
    margin-bottom: var(--hint-margin);
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.radical {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 0.4em;
}

.radical-image {
    width: 1.5em;
    opacity: 0.7;
}

.radical-text {
    font-size: 0.6em;
    opacity: 0.7;
}

.hint-container {
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 8px;
}

.hint-container:first-child {
    padding-top: 20px;
}

.hint-container:last-child {
    padding-bottom: 20px;
}

.hint-add {
    background-color: #ede6db;
    color: #888;
    width: 26px;
    height: 26px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hint-add.hint-add-active {
    background-color: #b9dfb8;
    color: #648568;
}

.hint-selected .hint-add {
    background-color: #dbd1c0;
    color: #808080;
}

.hint-selected .hint-add.hint-add-active {
    background-color: #aad3a9;
    color: #59815e;
}

.hint-add .icon {
    width: 18px;
    height: 18px;
    stroke-width: 2.5px;
}

.hint-content {
    margin-left: 16px;
    margin-right: 16px;
}

.hint-selected {
    background-color: rgb(241, 231, 213);
}

.hint-text-container {
    margin-top: 0.25em;
    margin-bottom: var(--hint-margin);
}

.hint-title-parent {
    display: flex;
}

.hint-title {
    font-size: 1.5em;
    margin-bottom: var(--hint-margin);
}

.hint-title-space {
    flex-grow: 1;
}

.hint-gloss {
    color: #333;
    list-style-type: none;
    margin-bottom: var(--hint-margin);
}

.hint-gloss li {
    font-size: 16px;
    display: flex;
    align-items: baseline;
}

.hint-gloss span {
    display: inline-block;
    flex-shrink: 1;
}

.gloss-more {
    color: #777;
    font-size: 0.9em;
}

.hint-gloss li::before {
    content: "";
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16' height='16' version='1.1' viewBox='0 0 4.233 4.233' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23808080' stroke-width='.2646'%3E%3Cpath d='m2.183 0.8178h0.1571l1.067 1.301-1.067 1.295h-0.1571l0.6725-1.295zm-1.246 0h0.1599l1.086 1.301-1.086 1.295h-0.1599l0.6697-1.295z'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: 10px 10px;
    height: 10px;
    width: 10px;
    display: block;
    padding-right: 4px;
    flex-shrink: 0;
}

.hint-write-read {
    display: flex;
    align-items: baseline;
}

.hint-conjugation {
    color: #777;
    font-style: italic;
    font-size: 0.9em;
}

.hint-label {
    color: #777;
    font-size: 0.9em;
    min-width: 4.5em;
    display: inline-block;
}

.hint-text {
    color: #333;
}

.wk-container {
    margin-bottom: var(--hint-margin);
}

.wk-span {
    font-size: 0.9em;
    color: #333;
    padding: 0.1em 0.1em;
    margin: -0.1em -0.08em;
}

.wk-tag-radical {
    background-color: rgb(192, 205, 223);
    border-radius: 10%;
}

.wk-tag-kanji {
    background-color: rgb(226, 185, 161);
    border-radius: 10%;
}

.wk-tag-vocabulary {
    background-color: rgb(236, 209, 226);
    border-radius: 10%;
}

.wk-tag-meaning {
    background-color: rgb(171, 221, 179);
    border-radius: 10%;
}

.wk-tag-reading {
    background-color: rgb(219, 226, 161);
    border-radius: 10%;
}

.translation-container {
    padding: 16px;
}

.translation-label {
    color: #777;
    user-select: none;
    -webkit-user-select: none;
}

.translation-text {
    font-size: 20px;
    padding: 16px;
    color: #333;
}

.reader-loading {
    visibility: hidden;
}

.reader-loader {
    background-color: #000;
    width: 100%;
    height: 100%;
}

.reader-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.reader-hidden {
    visibility: hidden;
}

.reader-chapters {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    transition: transform 0.2s ease-out;
}

.reader-chapters.hide {
    transform: translate(0, 100vh);
}

.flashcard-test {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.flashcard-card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    background-color: rgb(255, 251, 244);
    border-radius: 8px;
    box-shadow:
        0px 8px 20px rgba(0, 0, 0, 0.08),
        0px 0px 0px 1px rgba(0, 0, 0, 0.15);
    z-index: 2;
    overflow-x: hidden;
    overflow-y: auto;
    width: min(100vw - 3rem, 30rem);
    padding: 20px;
    max-height: calc(100% - 2rem);
}

.flashcard-card-parent {
    flex-basis: 36rem;
    min-height: 12rem;
    flex-shrink: 1;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flashcard-space {
    height: 16rem;
}

.flashcard-title {
    font-size: 1.5rem;
}

.flashcard-example {
    font-size: 1.5rem;
    margin: 0 auto;
}

.flashcard-content {
    margin-top: 0.5rem;
}

.flashcard-buttons {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.flashcard-button {
    padding: 16px;
    border-radius: 12px;
    background-color: #ddd;
    width: 8rem;
    font-size: 1.25rem;
    color: #444;
    margin-bottom: 4rem;
}

.mobile .flashcard-button {
    margin-bottom: 1rem;
}

.flashcard-button.wrong {
    background-color: #daa;
    color: #622;
}

.flashcard-button.right {
    background-color: #ada;
    color: #262;
}

.flashcard-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.flashcard-filler {
    width: 24px;
    height: 24px;
}

.flashcard-list-button {
    width: 24px;
    height: 24px;
    color: #333;
}

.flashcard-left {
    text-align: center;
    color: #555;
}
