
.sourceName {
    flex-grow: 1;
    margin-left: 1rem;
}

.optionsButton {
    text-align: left;
    font-size: 15px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.optionsButton :global(.icon-tabler) {
    stroke-width: 1.5px;
}

.sourceEntry {
    display: flex;
    align-items: center;
}
